<div class='container'>
  <h1>Sistema de estoque</h1>

  <div class='stock-container'>
    <div class='storage-container'>
      <h2>Brasília</h2>

      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kindle Unlimited</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Kindle Unlimited</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Kindle Unlimited</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class='storage-container'>
      <h2>São Paulo</h2>

      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kindle Unlimited</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
