// Place all the styles related to the movimentacaos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

h1, h2 {
  color: white;
}

h2 {
  align-self: flex-start;
}

.stock-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  div + div {
    margin-top: 7px;
  }
}

.storage-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  padding: 2rem;

  h2 {
    margin: 0 0 1rem 0;
    color: #2c91e6;
  }
}

table {
  th {
    text-align: start;
  }
}

#errors_messages_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30%;

  .error_card {
    padding: 1rem;
    background-color: #fb6c6c;
    color: white;
  }

  .error_card + .error_card {
    margin-top: 1rem;
  }
}
